@font-face {
	font-family: "NeueLight";
	font-style: normal;
	font-weight: normal;
	src: local("./fonts/NeueHaasDisplayBold.woff"),
		url("./fonts/NeueHaasDisplayLight.woff") format("woff");
}

@font-face {
	font-family: "NeueBold";
	font-style: normal;
	font-weight: normal;
	src: local("./fonts/NeueHaasDisplayBold.woff"),
		url("./fonts/NeueHaasDisplayBold.woff") format("woff");
}
